{% extends "apps/base.html" %}
{% load static %}

{% block title %}
About
{% endblock title %}



{% block main-content %}
<div class="container mt-3">
    <br>
    <h2 class="text-center">About-us</h2>
    <br>
    <div class="row container">
        <p>Welcome to FreshMart, your one-stop destination for all your grocery needs. At FreshMart, we are committed to providing you with the freshest produce, high-quality essentials, and everything you need for a well-stocked home. Whether you're looking for fresh fruits, vegetables, dairy, or pantry staples, we've got you covered!</p>
    </div>
    <br><br>
    <h2 class="text-center">Mission</h2>
    <br>
    <div class="row container">
        <p>Our mission is to make grocery shopping easier, faster, and more convenient. With a user-friendly online platform, you can shop from the comfort of your home and have your groceries delivered right to your doorstep. We work directly with trusted suppliers to ensure that every product you buy is of the highest quality.</p>
    </div>
</div>

{% endblock main-content %}