{% extends "apps/base.html" %}
{% load static %}

{% block title %}
About
{% endblock title %}

{% block main-content %}
<div class="container mt-3">
    <br>
    <h2 class="text-center">Contact-us</h2>
    
    <br>
    <div class="row container">
        
    </div>
   <p class="fs-4 text-center">Adress : FreshMart HQ, 123 Greenway Street, Springfield,Noida</p>
   <p class="fs-4 text-center">Contact-Detail: 8901151460</p>
   <p class="fs-4 text-center">Email-id: support@freshmart.com</p>
</div>
<br><br>
{% endblock main-content %}